# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!panels
!www
!views
!include
!themes

# Ignore folders.
.storage
.cloud
.google.token
tts

# Ensure these files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
shell_secrets.txt
known_devices.yaml
home-assistant.log
.db
home-assistant_v2.db
.uuid
google_calendars.yaml